.itemDetailContainer{
    height: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 800px){
    .itemDetailContainer{
        height: auto;
    }
}

@media (max-height: 900px){
    .itemDetailContainer{
        height: auto;
    }
} 