.item{
    width: 90%;
    padding: 20px 0;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    background-color: white;
    transform-style: preserve-3d;
    transition: 0.3s;
}

.product{
    padding: 30px 30px;
}

.itemCount{
    width: 80%;
}

.item > div{
    backface-visibility: hidden;
}

h3{font-size: 15px;}

h3, h4{
    margin: 5px 0;
}

img{
    backface-visibility: hidden;
    width: 95%;
    max-height: 250px;
}

.item:hover{
    box-shadow: 2px 2px 10px black;
    /* transform: rotateY(180deg); */
    transform: scale(1.05);
    transition: 0.3s;
}

.stock{
    margin: 0;
    font-size: 15px;
}

.detailButton{
    margin: 15px 0;
    padding: 8px;
    width: 60%;
    height: 35px;
    background-color: #1976D2;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #fefefe;
    transition: 0.2s;
}

.detailButton:hover{
    transition: 0.2s;
    background-color: #5b98d6;
}

